Source: kolabconf
Section: mail
Priority: extra
Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Noèl Köthe <noel@debian.org>, Steffen Joeris <white@debian.org>, Mathieu Parent <math.parent@gmail.com>
Build-Depends: debhelper (>= 4), quilt (>= 0.40)
Standards-Version: 3.8.0
Homepage: http://www.kolab.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kolab/kolabconf/trunk/
Vcs-Svn: svn://svn.debian.org/pkg-kolab/kolabconf/trunk/

Package: kolabconf
Architecture: all
Depends: ${perl:Depends}, 
 libkolab-perl (>= 1:2.2.0-2)
Conflicts: kolabd (<< 2.2.0-20080709.dfsg-1), libkolab-perl (<< 1:2.2.0-2)
Replaces: kolabd (<< 2.2.0-20080709.dfsg-1), libkolab-perl (<< 1:2.2.0-2)
Description: configuration tool for Kolab groupware server
 Kolab is a secure, scalable, and reliable groupware server.  It consists
 of a number of well-known and proven components for the standard tasks
 such as e-mail, directory service, and web service.  Kolab adds
 intelligent interaction between the components, a web administration
 interface, management of free/busy lists, etc.  Various clients can
 access Kolab, among them Kontact (KDE), Outlook (Windows), and Horde
 (web).
 .
 This package contains the central mechanism to the configuration tool
 of the Kolab server.  It rewrites the Kolab configuration templates
 into the final configuration files and handles the necessary magic
 associated to that process.
