#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	perl Makefile.PL --config /etc/kolab/kolab.globals --bin /usr/sbin
	$(MAKE)
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kolabconf
	rm $(CURDIR)/debian/kolabconf/usr/share/man/man1/kolabconf.1p*

	# Man pages
	mkdir -p debian/kolabconf/usr/share/man/man1
	for x in `find debian/kolabconf/usr/bin debian/kolabconf/usr/sbin -type f`; do \
	  sed "s/undocumented/`basename $$x`/g" debian/undocumented.1 >debian/kolabconf/usr/share/man/man1/`basename $$x`.1; \
	done

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_perl -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
